@font-face {
  font-family: 'Absans';
  src: url('./fonts/Absans-Regular.otf') format('opentype'); 
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-Bold.otf') format('opentype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family:Absans;
  user-select: none;
}

#wrapper{
  width: 100vw;
  height: auto;
  background-color: #000000;
  position: relative;
  scroll-behavior: smooth;
}
.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader h1{
  color: rgb(0, 0, 0);
  font-size: 5vw;
  font-weight: 200;
}
.loader span{
  color: rgb(0, 0, 0);
  font-size: 5vw;
}
/* .cursor{
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 100%;
  z-index: 999;
} */
.navbar{
  width: 100%;
  height: 50px;
  padding: 5px 10vw;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  z-index: 9999;
  background-color: #000000;
  overflow: hidden;
  padding-top: 10px;
  
}

.nav-right{
width: auto;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
}
.nav-right a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.nav-right a:hover{
  color: #414141;
}

.hero-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  
}
.overflow{
  width: 80%;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 50%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  transform: translate(-50% , 0);
  z-index: 9999;
 
}
.left-overflow{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  
}
.left-overflow p {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(156, 156, 156);
  font-family: Absans;
  font-weight: 200;
}
.right-overflow{
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
}
.right-overflow button {
  text-transform: uppercase;
  background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 20%, rgb(207, 0, 225) 50%, rgb(143, 55, 251) 76%, rgb(35, 2, 69) 100%);
  padding: 10px 14px;
  border: none;
  border-radius: 50px;
  color: white;
  border: 1px solid rgb(205, 205, 205);
  cursor: pointer;
  user-select: none;
  font-size: 20px;

  
  /* Set transition duration properly */
  transition: all 0.3s ease-in-out;
}

 .right-overflow button:hover {
  transform: rotate(-7deg);
}
.hy{
  font-size: 14vw;
  color: white;
  font-family: Apercu;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
 
}
.hero-page img{
  width: 38vw;
  height: 45vw;
  
}
.about-page{
  width: 100%;
  height: auto;
  background-color: #e7e7e7;
  padding: 2vw 7vw;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
 
 
  
}
.about-page > h1{
  font-size: 4vw;
  font-weight: 200;

  font-family:Apercu ;
  text-transform: uppercase;
  
}
.about-top{
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about-top h1{
  font-size: 5vw;
  overflow: hidden;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: rgb(60, 255, 6);
  color: black;
  padding: 0px 50px;
  font-family: Apercu;
  width: 90%;
 
}

.web-dev{
  transform: rotate(8deg);
  
  
}
.designer{
  transform: rotate(0deg);
  text-align: end;
}
.about-bottom{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 0 5vw;
  padding-bottom: 4vw ;
}
.about-bottom p {
  font-size: 1.8vw;
  color: #515151;
  /* text-transform: uppercase; */
  font-family:Apercu ;
  font-weight: 200;
}
.skills-page {
  width: 100%;
  min-height: 100vh;
  max-height:auto ;
  padding: 0 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: visible; /* Allow the content to grow beyond initial size */
  margin-bottom: 5vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  
}
.skill-overflow{
  width: 100%;
  height: 100%;

  position: absolute;
  top:0;
  left: 0;
  padding: 4vw;

  display: flex;
  justify-content: space-between;
  align-items: start;
}
.left-strip{
  width: 5px;
  height: 5px;
  background-color: rgb(60, 255, 6);
  border-radius: 5px;
 
}
.skills-page > h1 {
  font-size: 4vw;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-family: Apercu;
  text-transform: uppercase;
}

.skills {
  width: 100%;
  margin-top: 4vw;
}

.skill {
  
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  align-items: center;
  overflow: hidden;
  margin: 1vw 0;
  border-bottom: 1px solid #414141;
  cursor: pointer;
  position: relative;
  z-index: 1;
  
}
.skill-logo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100px;
  background-color: white;
  border-radius: 6px;
  opacity: 0;
}

.skill h1 {
  font-size: 5vw;
  font-weight: 200;
  color: #414141;
  letter-spacing: 10px;
  text-transform: uppercase;
}

details {
  width: 100%;
}

summary {
  position: relative;
  border-bottom: 1px solid #414141;
  padding: 20px 0;
  cursor: pointer;
}

summary span {
  color: white;
  font-size: 5vw;
  margin: 2vw 0;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.custom-marker {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}


.projects-page{
  width: 100%;
  height: auto;
 
  position: relative;
  overflow: hidden;
 
}
.project-upper{
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

}
.project-heading{
  position: absolute;
  font-size: 4vw;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Apercu;
  text-transform: uppercase;
}
.project-lower{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
  background-color: gray;
  padding-top: 5vw ;

}
.project-card{
  width: 80%;
  height: 500px;
  background-color: white;
 border-radius: 10px;
 cursor: pointer;
 position: relative;
}
.overlay{
  width: 50%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  backdrop-filter: blur(8px); 

  border-radius: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card:hover .overlay{
  opacity: 1;
}
.overlay-left{
  width: 50%;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.project-card-3 .overlay-left{
  color: black;
}
.overlay-right{
  width: 50%;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}
.overlay-right button{
   width: 80px;
   height: 80px;
  border-radius: 50px;
  cursor: pointer;
 border: none;
 border: 1px solid black;
 transition: all 0.3s;
}
.overlay-right button a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.overlay-right button:hover{

  border-radius: 5px;
  width: 120px;
  height: 50px;
  
}

.overlay-right button:hover ~ a{
  color: white;
}
.contact-page{
  width: 100%;
  height: 100vh;
  display: flex; 
 align-items: center;
  padding-top: 20px;
  gap: 4vw;
  flex-direction: column;

  
}
.contact-page > h1{
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  font-weight: 200;
  font-family: Apercu;
  text-transform: uppercase;
  
}
.contact-page .form{
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5vw;

}
.form > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
}
.form input {
  height: 32px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #414141;
  color: #ffffff;
  font-family: Absans;
  padding: 0 5px;
  font-size: 1.2vw;
  margin-bottom: 10px;
  
}
.form input:focus{
  outline: none;
}
.form textarea{
  height: 20vh;
  background-color: transparent;
  border: none;
  padding: 5px;
  color: #ffffff;
  border-bottom: 2px solid #414141;
  font-size: 1.2vw;
}
.form textarea:focus{
  outline: none;
}
.form button{
  padding: 5px 0;
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid #414141;
  font-size: 20px;
  color: white;
}
.social-media{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
 
}
.form > div button{
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  margin-top: 20px;
 
}


.form > div button:hover{
  background-color: rgba(128, 128, 128, 0.129);
}
.social-media{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  height: auto;
  padding: 10px ;
  overflow: hidden;

}
.social-media img{
  width: 35px;
  transition: all 0.3s;

 
}
.social-media img:hover{

  transform: translateY(5px);
}


.mobile-project-container{
  width: 100vw;
  height: auto;
  padding: 2vw;
}
.mobile-project-container > h1{
  color: rgb(23, 23, 23);
  font-size: 2vw;
  font-family: Apercu;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
} 
.example{
  width: 250px;
  height: 500px;
}
.modile-wrapper{
  padding: 0 5vw;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-main{
  width: auto;
  height: 500px;
  overflow: hidden;

  display: flex;
}
.text-container{
  padding: 1.3vw;
  height: 100%;
  width:250px;
  overflow: hidden;
  background-color: white;
}


@media (max-width: 480px) {
  .overlay{
    width: 80%;
    height: 80%;
  }
  .overlay-left{
    padding: 5px;
    width: 80%;
  }
  .overlay-left p{
    font-size: 12px;
  }
  .overlay-right{
    width: 40%;
  }
  .overlay-right button{
    width: 50px;
    height: 50px;
  }
  .mobile-project-container > h1{
    font-size: 5vw;
  }
.modile-wrapper{
  padding: 0;
  flex-direction: column;
  gap:30px ;
  align-items: center;
}
.example{
  width: 300px;
  height: 600px;
}
.mobile-main{
 
   width: auto;
  height: auto;
}
.text-container{
  display: none;
}
.navbar{
  font-size: 16px;
  justify-content: space-between;
  padding: 0 8px;
}
.nav-right{
  gap: 20px;
}

.hero-page{
  flex-direction: column;
  padding: 0;
  height: 80vh;
}
.hy{
  font-size: 12vw;
}
.hero-page img{
  width: 90vw;
  height: 45vh;
}
.overflow{
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.left-overflow{
  width: 80%;
  height: auto;
 
}
.left-overflow p{
  font-size: 14px;
  height: auto;
  margin-top: 120px;
}
.right-overflow button{
  font-size: 14px;
  width: auto;
  height: auto;
}

.about-page{
  height: 40vh;
  padding: 0 4vw;
}
.about-page > h1{
  font-size: 7vw;
}
.about-top{
  height: 30%;
  justify-content: flex-start;
  padding-top: 10vw ;
}
.about-top h1{
  font-size: 5vw;
  letter-spacing: 4px;
  
  
}
.about-bottom p {
  font-size: 3vw;
}
.skills-page{
  min-height: 40vh;
}
.skills-page > h1 {
  font-size: 7vw;
}
.skill h1 {
  letter-spacing: 3px;
}
.skill img{
  width: 22px;
  opacity: 1;
  left: 80%;

}

.custom-marker{
  width: 18px;
  top: 25px;
}
summary span {
  font-size: 4.5vw;
  letter-spacing: 5px;
}
.projects-page{
 height: auto;
}
.project-heading{
  font-size: 7vw;
}
.project-card{
  height: 200px;
  width: 90%;
}


.contact-page{
  height: auto;
  padding: 0;
  margin-bottom: 50px;

}
.contact-page > h1{
  font-size: 7vw;
  overflow: hidden;
}
.contact-page .form{
  flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2vw 0;
  
}
.form > div{
  width: 90%;
}
.form input{
  font-size: 4vw;
}
.form textarea{
  font-size: 4vw;
}
.social-media img{
  width: 30px;
}
}